#new-book-btn {
    display: block;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 20px;
    background-color: #0ea5e9;
    margin: 0 auto;
    padding: 20px;
    border: none;
    border-radius: 20px;
}

#new-book-btn:hover {
    display: block;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 20px;
    background-color: #59c1f1;
    margin: 0 auto;
    padding: 20px;
    border: none;
    border-radius: 20px;
}

#new-book-form {
    width: 50px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}